{
"PUBLIC_LAUNCHER_IP_ADDRESS":"",
"PRODUCTION":false,
"DOCKSTORE_VERSION":"1.8.0-beta.4",
"UI2_HASH":"develop",
"GITHUB_CLIENT2_ID":"foobared",
"GITHUB_CLIENT2_SECRET":"foobared",
"QUAY_CLIENT_ID":"foobared",
"QUAY_CLIENT_SECRET":"foobared",
"BITBUCKET_CLIENT_ID":"foobared",
"BITBUCKET_CLIENT_SECRET":"foobared",
"DOMAIN_NAME":"foobar",
"HTTPS":false,
"COMPOSE_SETUP_VERSION"="foo"
"DEPLOY_COMMIT_ID"="foo"
"DISCOURSE_URL":"foobar",
"DISCOURSE_KEY":"foobar",
"DISCOURSE_CATEGORY_ID":"10",
"DOCUMENTATION_URL":"foobar",
"FEATURED_CONTENT_URL":"foobar",
"GITHUB_APP_PRIVATE_KEY_FILE": "/replaceme",
"GITHUB_APP_ID": "1234",
"GITHUB_APP_NAME": "foobar",
"TOOLTESTER_BUCKET_NAME": "replaceme",
"TAG_MANAGER_ID":"foobar",
"GITLAB_CLIENT_ID":"foobar",
"GITLAB_CLIENT_SECRET":"foobar",
"GOOGLE_CLIENT_ID":"potato",
"GOOGLE_CLIENT_SECRET":"potato",
"LOGSTASH":false,
"LOGSTASH_HOST":"replaceme",
"TERRA_IMPORT_URL":"replaceme",
"BD_CATALYST_SEVEN_BRIDGES_IMPORT_URL":"replaceme",
"BD_CATALYST_TERRA_IMPORT_URL":"replaceme",
"AUTHORIZER_TYPE":"replaceme",
"EXTERNAL_GOOGLE_CLIENT_PREFIX1":"replaceme",
"SAM_PATH":"replaceme",
"DATABASE_GENERATED":false,
"ORCID_CLIENT_ID":"replaceme",
"ORCID_CLIENT_SECRET":"replaceme",
"ORCID_URL":"replaceme",
"ZENODO_CLIENT_ID":"replaceme",
"ZENODO_CLIENT_SECRET":"replaceme",
"ZENODO_URL":"replaceme",
"SLACK_URL":"replaeceme",
"GALAXY_PLUGIN_VERSION":"0.0.4",
"DATABASE_DOMAIN":"postgres",
"DBUSER":"dockstore",
"DBPASSWORD":"dockstore"
}
