{
"PUBLIC_LAUNCHER_IP_ADDRESS":"",
"PRODUCTION":false,
"DOCKSTORE_VERSION":"develop",
"UI2_HASH":"develop",
"GITHUB_CLIENT2_ID":"123",
"GITHUB_CLIENT2_SECRET":"123",
"QUAY_CLIENT_ID":"123",
"QUAY_CLIENT_SECRET":"123",
"BITBUCKET_CLIENT_ID":"123",
"BITBUCKET_CLIENT_SECRET":"123",
"DOMAIN_NAME":"localhost",
"HTTPS":false,
"DISCOURSE_URL":"foo",
"DISCOURSE_KEY":"foo",
"DISCOURSE_CATEGORY_ID":"10",
"DOCUMENTATION_URL":"foo",
"FEATURED_CONTENT_URL":"foo",
"GITHUB_APP_PRIVATE_KEY_FILE": "./replaceme",
"GITHUB_APP_ID": "123",
"GITHUB_APP_NAME": "foo",
"TOOLTESTER_BUCKET_NAME": "foo",
"TAG_MANAGER_ID":"foo",
"GITLAB_CLIENT_ID":"123",
"GITLAB_CLIENT_SECRET":"123",
"GOOGLE_CLIENT_ID":"123",
"GOOGLE_CLIENT_SECRET":"123",
"LOGSTASH":false,
"LOGSTASH_HOST":"logstash",
"TERRA_IMPORT_URL":"foo",
"AUTHORIZER_TYPE":"inmemory",
"EXTERNAL_GOOGLE_CLIENT_PREFIX1":"123",
"SAM_PATH":"foo",
"DATABASE_GENERATED":true,
"ZENODO_CLIENT_ID":"123",
"ZENODO_CLIENT_SECRET":"123",
"ZENODO_URL":"123",
"SLACK_URL":"foo",
"GALAXY_PLUGIN_VERSION":"NONE"
}
