{
"PUBLIC_LAUNCHER_IP_ADDRESS":"",
"DOCKSTORE_VERSION":"1.8.0-beta.4",
"GITHUB_CLIENT1_ID":"foobared",
"GITHUB_CLIENT2_ID":"foobared",
"GITHUB_CLIENT1_SECRET":"foobared",
"GITHUB_CLIENT2_SECRET":"foobared",
"UI2_HASH":"develop",
"QUAY_CLIENT_ID":"foobared",
"QUAY_CLIENT_SECRET":"foobared",
"BITBUCKET_CLIENT_ID":"foobared",
"BITBUCKET_CLIENT_SECRET":"foobared",
"DOMAIN_NAME":"foobar",
"HTTPS":false,
"DISCOURSE_URL":"foobar",
"DISCOURSE_KEY":"foobar",
"GOOGLE_VERIFICATION_NAME":"foobar",
"TAG_MANAGER_ID":"foobar",
"GITLAB_CLIENT_ID":"foobar",
"GITLAB_CLIENT_SECRET":"foobar",
"GOOGLE_CLIENT_ID":"potato",
"GOOGLE_CLIENT_SECRET":"potato",
"LOGSTASH":false,
"ENABLE_CWL_VIEWER":"false",
"ENABLE_LAUNCH_WITH_FIRECLOUD":"false",
"FIRECLOUD_IMPORT_URL":"foobar",
"GITHUB_APP_PRIVATE_KEY_FILE":"/replaceme",
"GITHUB_APP_ID":"1234",
"GITHUB_APP_NAME":"foobar",
"DOCUMENTATION_URL":"foobar",
"FEATURED_CONTENT_URL":"foobar"
"GALAXY_PLUGIN_VERSION":"NONE"
}
