error_page 404 /index.html;

{{#HTTPS}}
ssl                       on;

ssl_certificate           /etc/letsencrypt/live/{{ DOMAIN_NAME }}/fullchain.pem;
ssl_certificate_key       /etc/letsencrypt/live/{{ DOMAIN_NAME }}/privkey.pem;
ssl_trusted_certificate   /etc/letsencrypt/live/{{ DOMAIN_NAME }}/chain.pem;
{{/HTTPS}}
