#!/bin/bash
set -o errexit
set -o pipefail
set -o nounset

cp {{ GOOGLE_VERIFICATION_NAME }}.html /dockstore-ui2/src
ng build --prod
rsync -avzh --delete /dockstore-ui2/dist/ /dockstore-ui2/real_dist/
